body[data-tema="tema-dft"] {
    --bg-color: #006622;
    --txt-color: white;
    --bd-color: #009933;
}

body[data-tema="tema-claro"] {
    --bg-color: #ffffcc;
    --txt-color: black;
    --bd-color: black;
}

body[data-tema="tema-escuro"] {
    --bg-color: #262626;
    --txt-color: aliceblue;
    --bd-color: aliceblue;
}

html, body {
    height: 100%;
    background-color: var(--bg-color);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--txt-color);
}

.borda {
    border-color: var(--bd-color) !important;
}

@font-face {
  font-family: myFont;
  src: url(../resource/Anxiety.otf);
}

.pincel {
    border-radius: 30px;
}

.pincel:hover {
    background-color: var(--bd-color);
    transition: 0.3s;
}