body[data-tema="tema-dft"] {
    --bg-color: #006622;
    --txt-color: white;
    --bd-color: #009933;
    --pc-color: #009933;
}

body[data-tema="tema-claro"] {
    --bg-color: #ffffcc;
    --txt-color: black;
    --bd-color: black;
    --pc-color: #ffff66;
}

body[data-tema="tema-escuro"] {
    --bg-color: #262626;
    --txt-color: aliceblue;
    --bd-color: aliceblue;
    --pc-color: aliceblue;
}

html, body {
    height: 100%;
    background-color: var(--bg-color);
    transition: 0.4s;
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--txt-color);
}

.borda {
    border-color: var(--bd-color) !important;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

@font-face {
  font-family: myFont;
  src: url(../resource/Anxiety.otf);
}

.pincel {
    border-radius: 30px;
    transition: background-color 0.6s ease;
}

.pincel:hover {
    background-color: var(--pc-color);
}

.btn_tema {
    outline: none;
    border-radius: 20px;
    border-color: solid 1px black;
    height: 30px;
    width: 30px;
}

.menu[data-aberto="false"] {
    --opacidade: 0;
    --visibilidade: hidden;
}

.menu[data-aberto="true"] {
    --opacidade: 1;
    --visibilidade: visible;
}

.menu {
    position: absolute;
    height: 38px;
    width: 122px;
    right: 85px;
    opacity: var(--opacidade, 0);
    visibility: var(--visibilidade, hidden);
    transition: opacity 0.3s ease, visibility 0.2s ease;
}

.menu_l[data-login="false"] {
    --opa_login: 0;
    --vis_login: hidden;
}

.menu_l[data-login="true"] {
    --opa_login: 1;
    --vis_login: visible;
}

.menu_l {
    position: absolute;
    right: 35px;
    opacity: var(--opa_login, 0);
    visibility: var(--vis_login, hidden);
    transition: opacity 0.3s ease, visibility 0.2s ease;
}