body[data-tema="tema-dft"] {
    --bg-color: #006622;
    --txt-color: white;
    --bd-color: #009933;
    --pc-color: #009933;
}

body[data-tema="tema-claro"] {
    --bg-color: #ffffcc;
    --txt-color: black;
    --bd-color: black;
    --pc-color: #ffff66;
}

body[data-tema="tema-escuro"] {
    --bg-color: #262626;
    --txt-color: aliceblue;
    --bd-color: aliceblue;
    --pc-color: aliceblue;
}

html, body {
    height: 100%;
    background-color: var(--bg-color);
    transition: 0.4s;
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--txt-color);
}

.borda {
    border-color: var(--bd-color) !important;
}

@font-face {
  font-family: myFont;
  src: url(../resource/Anxiety.otf);
}

.pincel {
    border-radius: 30px;
}

.pincel:hover {
    background-color: var(--pc-color);
    transition: 0.3s;
}

.btn_tema {
    outline: none;
    border-radius: 20px;
    border-color: solid 1px black;
    height: 30px;
    width: 30px;
}

.menu[data-aberto="false"] {
    --visibilidade: hidden;
}

.menu[data-aberto="true"] {
    --visibilidade: visible;
}

.menu {
    position: absolute;
    height: 38px;
    width: 122px;
    right: 85px;
    visibility: var(--visibilidade);  
}